@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
$main-font:'Montserrat', sans-serif;
$light-color: #ffff;
$main-sideNav-color:#6E260E;

$box-shadow-color:  0 10px 6px -6px #777;
